
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Prata&display=swap');

body {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
  background-color: #F0F0F0;
  overflow: hidden;
}

.main {
    overflow: hidden;
  position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
#greeting {
  margin-top: 20px;
}

#flower-container {
  width: 300px;
  height: 300px;
  margin: 50pt auto;
  border: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#flower-container img {
  max-width: 2000pt;
  max-height: 150%;
  transition: transform 0.3s ease;
}

#flower-container:hover #flower-img {
    transform: scale(0.9); /* Scale down to 90% on hover */
  }

 /* makes the flower bigger when clicked
 #flower-container:active #flower-img {
    transform: scale(1.1); /* Scale up to 110% when clicked */
  
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      .message {
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(40, end);
      }