@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Prata&display=swap');

body {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
  background-color: #F0F0F0;
  overflow: hidden;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    gap: 30px;
}


/* CSS */
#yes {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #660066;
  cursor: pointer;
  display: inline-block;
  font-family: "Prata", serif;
    font-weight: 700;
    font-style: normal;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#yes:hover {
    background-color: #E1A9F6;
    box-shadow: #C6C7FF 0 -6px 8px inset;
  transform: scale(1.125);
}

#yes:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #yes {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

#no {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #660066;
    cursor: pointer;
    display: inline-block;
    font-family: "Prata", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #no:hover {
    background-color: #E1A9F6;
    box-shadow: #C6C7FF 0 -6px 8px inset;
    transform: scale(1.125);
  }
  
  #no:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 768px) {
    #no {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }